.test{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin-top: 40px;
    
 }
 .div_home_1{

    background-color: rgba(0, 0, 0, 0.4);
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
 }
 /*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
    border: none;
    cursor: pointer;
    background-color: rgb(232, 232, 232);

    border-radius: 16px;
}
.coi:hover{
    background-color: rgb(0, 0, 0);
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 620px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}